# Python
__pycache__/
*.py[cod]
*$py.class
venv/
venv311/
env/
*.env
config.py
*.session

# Go
# Binaries for programs
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
